<ion-content class="home-background">
  <div class="container">
    <img src="assets/background.png" alt="Background Image" class="background-image" />
    <img src="assets/logo.png" alt="Viam Logo" class="logo" />
    <h2>Bienvenida a VIAM,<br />¿Lista para aprender algo nuevo?</h2>
    <div class="buttons-container">
      <ion-button expand="full" class="custom-button" (click)="redirectToLogin()">Iniciar sesión</ion-button>
      <ion-button expand="full" class="custom-button" (click)="redirectToRegister()">Registro</ion-button>
    </div>
  </div>